<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
		
		<title>프로필 화면</title>
		
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    	
    	<style>
        	body        { padding-top:80px; }
    	</style>
    
	</head>
	<body>
		
		<div class="container">			
						
			<div class="page-header text-center">
		        <h1><span class="fa fa-book"></span> 사용자 프로필</h1>
		        <a href="/logout" class="btn btn-default btn-sm">로그아웃</a>
		    </div>
			<br>
		    <div class="row">
		
		        <div class="col-sm-6">
		            <div class="well">
		            
		            	<% if (user.provider == undefined || user.provider == '') { %>
			                <h3><span class="fa fa-user"></span> 로컬 프로필</h3>
							<br>
							<p>
								<strong>이메일</strong>: <%= user.email %><br><br>
		                		<strong>별명</strong>: <%= user.name %>
                                <br>
                                <br><strong><a href="/public/listUmbrella.html">전체 우산 대여소 리스트 보기</a></strong>
                                
                                <br>
                                <br><strong><a href="/public/circleUmbrella.html">반경 내 우산 대여소 리스트 보기</a></strong>
                                <br>
                                <!--br><strong><a href="/public/withincoffeeshop2.html">영역 안의 우산 대여소 찾기</a></strong>
                                <br-->
                                <br><strong><a href="/public/nearUmbrella.html">가장 가까운 우산 대여소 찾기</a></strong>
                                <!--% if(rental.rentaltime){ %>
                                <form method="post" action="/process/returnumbrella">
                                
                                <input type="submit" value="우산 반납 하기" name="" />
                                </form>
                                
                                -->
                                <% if(user.admin == "yes"){ %>
                                <br><br>
                                <strong>------관리자 전용 메뉴------</strong>
                                <br>
                                <br><strong><a href="/public/addUmbrella.html">우산 대여소 위치 추가하기</a></strong>   
                                <br>
                                <form method="post" action="/process/rentallist">
                                
                                <input type="submit" value="우산 대여 현황 확인하기" name="" />
                                </form>
                                <% } %>
			                </p>
			            <% } else if (user.provider == 'facebook') { %>
							<h3 class="text-primary"><span class="fa fa-facebook"></span> 페이스북 프로필</h3>
							<br> <!--이부분을 통정시로?-->
		                    <p>
		                        <strong>아이디</strong>: <%= user.facebook.id %><br><br>
		                        <strong>이메일</strong>: <%= user.facebook.email %><br><br>
		                        <strong>이름</strong>: <%= user.facebook.name %>
		                    </p>
		                <% } %>
		                	
						<br>
		            </div>
		        </div>
		
		    </div>
			
		</div>	
			
	</body>
</html>